In [1]:
import numpy as np
import pickle

In [18]:
ABM_cont = ['log','ba','er','ws0','ws0.1','ws0.3','ws0.5','ws0.7','ws0.9']

In [33]:
def calcu_mean_std(k):
    t_cont = ['p,q,m','steps','R2','p0,q0']
    print 'model\t p\t q\t m\t opints\t r2\t p0\t q0\t'
    for abm in ABM_cont:
        f = open('10 estimation for %s(%s).txt'%(k,abm),'r')
        d = f.read()
        e_dict = pickle.loads(d)
        f.close()
        
        params = []
        steps = []
        r2 = []
        pq0_cont = []
        for i in range(10):
            params.append(e_dict[i]['params'])
            r2.append(e_dict[i]['fitness'])
            steps.append(e_dict[i]['steps'])
            pq0_cont.append(e_dict[i]['pq0'])
        
        mean_params = np.mean(params,axis=0)
        std_params = np.std(params,axis=0)
        
        mean_steps = np.mean(steps)
        std_steps = np.std(steps)
        
        mean_r2= np.mean(r2)
        std_r2 = np.std(r2)
        
        mean_pq0 =  np.mean(pq0_cont,axis=0)
        std_pq0 = np.std(pq0_cont,axis=0)
        
        print  '--------------------------------------------------------------------------------------------------------'
        print '%s(mean)|\t %.5f\t  %.5f\t %d\t %.2f\t %.4f\t %.4f\t  %.4f\t'%(abm,mean_params[0],mean_params[1],mean_params[2],mean_steps,mean_r2,mean_pq0[0],mean_pq0[1])
        print '%s(std)     |\t %.5f\t  %.5f\t %d\t %.2f\t %.4f\t %.4f\t  %.4f\t'%(abm,std_params[0],std_params[1],std_params[2],std_steps,std_r2,std_pq0[0],std_pq0[1])

In [34]:
k = 'color televisions'
calcu_mean_std(k)

model	 p	 q	 m	 opints	 r2	 p0	 q0
--------------------------------------------------------------------------------------------------------
ba(mean)|	 0.00712	  0.09262	 51299	 38.50	 0.9835	 0.0092	  0.0721
ba(std)     |	 0.00113	  0.00322	 1014	 6.10	 0.0011	 0.0005	  0.0010
--------------------------------------------------------------------------------------------------------
er(mean)|	 0.01416	  0.12662	 44108	 34.00	 0.9789	 0.0162	  0.1121
er(std)     |	 0.00119	  0.00559	 927	 7.84	 0.0018	 0.0007	  0.0021
--------------------------------------------------------------------------------------------------------
ws0(mean)|	 0.01175	  0.15577	 60874	 42.00	 0.9216	 0.0081	  0.1338
ws0(std)     |	 0.00096	  0.01254	 2131	 10.12	 0.0044	 0.0018	  0.0017
--------------------------------------------------------------------------------------------------------
ws0.1(mean)|	 0.01082	  0.18879	 44610	 72.20	 0.9695	 0.0119	  0.1313
ws0.1(std)     |	 0.00251	  0.02636	 2141	 25.96	 0.0120	 0.0017	  0.0037
--------------------------------------------------------------------------------------------------------
ws0.3(mean)|	 0.01216	  0.15877	 41946	 52.10	 0.9804	 0.0141	  0.1243
ws0.3(std)     |	 0.00103	  0.00673	 798	 9.13	 0.0030	 0.0010	  0.0031
--------------------------------------------------------------------------------------------------------
ws0.5(mean)|	 0.01326	  0.14619	 41793	 40.30	 0.9796	 0.0158	  0.1217
ws0.5(std)     |	 0.00110	  0.00577	 766	 6.21	 0.0020	 0.0008	  0.0019
--------------------------------------------------------------------------------------------------------
ws0.7(mean)|	 0.01236	  0.14595	 41489	 44.50	 0.9798	 0.0164	  0.1200
ws0.7(std)     |	 0.00055	  0.00440	 571	 5.95	 0.0011	 0.0006	  0.0018
--------------------------------------------------------------------------------------------------------
ws0.9(mean)|	 0.01347	  0.13961	 42075	 39.50	 0.9806	 0.0162	  0.1186
ws0.9(std)     |	 0.00059	  0.00353	 521	 6.47	 0.0012	 0.0009	  0.0017

In [ ]:
t_cont = ['p,q,m','steps','R2','p0,q0']
for k in  ['color televisions','room air conditioners','clothers dryers']:
    calcu_mean_std(k)

In [ ]:
import networkx as nx

In [ ]:
G= nx.Graph()

In [24]:
from prettytable import PrettyTable 
x = PrettyTable(["City name", "Area", "Population", "Annual Rainfall"])  
x.align["City name"] = "l"# Left align city names
#x.padding_width = 1# One space between column edges and contents (default)
x.add_row(["Adelaide",1295, 1158259, 600.5])  
x.add_row(["Brisbane",5905, 1857594, 1146.4])  
x.add_row(["Darwin", 112, 120900, 1714.7])  
x.add_row(["Hobart", 1357, 205556, 619.5])  
x.add_row(["Sydney", 2058, 4336374, 1214.8])  
x.add_row(["Melbourne", 1566, 3806092, 646.9])  
x.add_row(["Perth", 5386, 1554769, 869.4])  
print x

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
| Adelaide  | 1295 |  1158259   |      600.5      |
| Brisbane  | 5905 |  1857594   |      1146.4     |
| Darwin    | 112  |   120900   |      1714.7     |
| Hobart    | 1357 |   205556   |      619.5      |
| Sydney    | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
| Perth     | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+